In [2]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, ttest_rel, f_oneway

In [3]:
data = pd.read_csv('dataSocmed.csv',)
data.head()

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
0,Januari,1/1/2019,Orange_id,INSTAGRAM,carousel,282.0,4.0,ORGANIC,286,"3,732","7,367",1.0,287,NaN
1,Januari,1/2/2019,Orange_id,INSTAGRAM,video,158.0,2.0,ORGANIC,160,"3,407","4,696",11.0,171,"1,110"
2,Januari,1/3/2019,Orange_id,INSTAGRAM,carousel,346.0,11.0,ORGANIC,357,"4,607","8,526",6.0,363,NaN
3,Januari,1/4/2019,Orange_id,INSTAGRAM,carousel,197.0,1.0,ORGANIC,198,"3,412","6,446",11.0,209,NaN
4,Januari,1/8/2019,Orange_id,INSTAGRAM,carousel,674.0,15.0,ORGANIC,689,"9,156","15,817",134.0,823,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Month                   454 non-null    object
 1   Date                    454 non-null    object
 2   Profile Name            454 non-null    object
 3   Channel                 454 non-null    object
 4   Content Type            453 non-null    object
 5   Likes                   453 non-null    float64
 6   Comments                395 non-null    float64
 7   Labels                  454 non-null    object
 8   Interactions            453 non-null    object
 9   Insights - Reach        448 non-null    object
 10  Insights - Impressions  448 non-null    object
 11  Insights - Saves        448 non-null    float64
 12  Insights - Engagement   453 non-null    object
 13  Insights - Video Views  60 non-null     object
dtypes: float64(3), object(11)
memory usage: 49.8+ KB

In [5]:
data.isna().sum()

Month                       0
Date                        0
Profile Name                0
Channel                     0
Content Type                1
Likes                       1
Comments                   59
Labels                      0
Interactions                1
Insights - Reach            6
Insights - Impressions      6
Insights - Saves            6
Insights - Engagement       1
Insights - Video Views    394
dtype: int64

## **CLEANSING DATA**

Content Type:
One data has NaN Value in almost strategiy columns. So, I choose to delete the record.

In [6]:
display(data[data['Content Type'].isna()])
data.drop(data[data['Content Type'].isna()].index,axis=0, inplace=True)
display(data[data['Content Type'].isna()])

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
40,Maret,3/2/2019,Orange_id,INSTAGRAM,NaN,NaN,NaN,ORGANIC,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [Month, Date, Profile Name, Channel, Content Type, Likes, Comments, Labels, Interactions, Insights - Reach, Insights - Impressions, Insights - Saves, Insights - Engagement, Insights - Video Views]
Index: []

Comments:
NaN will be replaced  by (blank)

In [7]:
display(data[data['Comments'].isna()].head())
data['Comments'].fillna(0,inplace=True)
display(data[data['Comments'].isna()].head())

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
15,Januari,1/29/2019,Orange_id,INSTAGRAM,carousel,178.0,NaN,ORGANIC,178,"2,741","5,152",27.0,205,NaN
19,Februari,2/8/2019,Orange_id,INSTAGRAM,carousel,168.0,NaN,ORGANIC,168,"2,491","4,885",10.0,178,NaN
21,Februari,2/9/2019,Orange_id,INSTAGRAM,video,139.0,NaN,ORGANIC,139,"2,719","3,849",9.0,148,862
44,Maret,3/3/2019,Orange_id,INSTAGRAM,carousel,250.0,NaN,ORGANIC,250,"3,648","6,531",4.0,254,NaN
45,Maret,3/3/2019,Orange_id,INSTAGRAM,carousel,160.0,NaN,ORGANIC,160,"2,993","5,295",4.0,164,NaN

Empty DataFrame
Columns: [Month, Date, Profile Name, Channel, Content Type, Likes, Comments, Labels, Interactions, Insights - Reach, Insights - Impressions, Insights - Saves, Insights - Engagement, Insights - Video Views]
Index: []

Insights - Reach
The NaN Value of Reach turns out align with the NaN value of impressions and saves, drop it.

In [8]:
display(data[data['Insights - Reach'].isna()])
data.drop(data[data['Insights - Reach'].isna()].index, inplace=True)
display(data[data['Comments'].isna()].head())
data.isna().sum()

,Month,Date,Profile Name,Channel,Content Type,Likes,Comments,Labels,Interactions,Insights - Reach,Insights - Impressions,Insights - Saves,Insights - Engagement,Insights - Video Views
9,Januari,1/17/2019,Orange_id,INSTAGRAM,carousel,93.0,1.0,ORGANIC,94,NaN,NaN,NaN,94,NaN
71,Maret,3/30/2019,Orange_id,INSTAGRAM,video,23.0,2.0,ORGANIC,25,NaN,NaN,NaN,25,NaN
117,Januari,1/11/2019,Strawberry Spot,INSTAGRAM,image,3.0,0.0,ORGANIC,3,NaN,NaN,NaN,3,NaN
125,Januari,1/12/2019,Strawberry Spot,INSTAGRAM,image,89.0,0.0,ORGANIC,89,NaN,NaN,NaN,89,NaN
421,Maret,3/26/2019,Strawberry Spot,INSTAGRAM,video,14.0,0.0,ORGANIC,14,NaN,NaN,NaN,14,NaN

Empty DataFrame
Columns: [Month, Date, Profile Name, Channel, Content Type, Likes, Comments, Labels, Interactions, Insights - Reach, Insights - Impressions, Insights - Saves, Insights - Engagement, Insights - Video Views]
Index: []

Month                       0
Date                        0
Profile Name                0
Channel                     0
Content Type                0
Likes                       0
Comments                    0
Labels                      0
Interactions                0
Insights - Reach            0
Insights - Impressions      0
Insights - Saves            0
Insights - Engagement       0
Insights - Video Views    388
dtype: int64

Video Views:
the null value is caused by content type != video

In [9]:
display(data[(data['Insights - Video Views'].isna()) & (data['Content Type']=='video')])
data['Insights - Video Views'].fillna(0,inplace=True)
data.isna().sum()

Empty DataFrame
Columns: [Month, Date, Profile Name, Channel, Content Type, Likes, Comments, Labels, Interactions, Insights - Reach, Insights - Impressions, Insights - Saves, Insights - Engagement, Insights - Video Views]
Index: []

Month                     0
Date                      0
Profile Name              0
Channel                   0
Content Type              0
Likes                     0
Comments                  0
Labels                    0
Interactions              0
Insights - Reach          0
Insights - Impressions    0
Insights - Saves          0
Insights - Engagement     0
Insights - Video Views    0
dtype: int64

## **Inference**

1. Prove it 

- H0 Mean engagement video > 200?
- H1 Mean engagement viideo <= 200?

alpha = 0.5%

In [10]:
#CLEANSING and converting column to numerical
data["Insights - Engagement"] = data["Insights - Engagement"].str.replace(',', '')
data["Insights - Engagement"] = pd.to_numeric(data["Insights - Engagement"])

In [11]:
data["Insights - Engagement"].mean()

1099.127232142857

In [12]:
stat_val, p_val = ttest_1samp(data[data["Content Type"]=='video']["Insights - Engagement"],200,alternative='less')
if p_val <= 0.05:
    print(f'Karena P Value ({p_val}) < 0.05, maka Tolak H0\nDengan begini, kita punya cukup bukti untuk menolak H0, sehingga rata-rata engagement video <= 200')
else:
    print(f'Karena P Value ({p_val}) > 0.05, maka Gagal Tolak H0\nDengan begini, kita tidak punya cukup bukti untuk menolak H0, sehingga rata-rata engagement video > 200')

Karena P Value (0.9999928557957322) > 0.05, maka Gagal Tolak H0
Dengan begini, kita tidak punya cukup bukti untuk menolak H0, sehingga rata-rata engagement video > 200

2. Prove it 

- Apakah rata-rata reach dari caroulse != image?

alpha = 0.5%

In [13]:
#CLEANSING and converting column to numerical
data["Insights - Reach"] = data["Insights - Reach"].str.replace(',', '')
data["Insights - Reach"] = pd.to_numeric(data["Insights - Reach"])

In [14]:
data.groupby('Content Type')["Insights - Reach"].mean()

Content Type
carousel     6663.857143
image       18578.913846
video        8528.933333
Name: Insights - Reach, dtype: float64

In [15]:
a = data[data['Content Type']=='carousel']['Insights - Reach']
b = data[data['Content Type']=='image']['Insights - Reach']
stat_val, p_val = ttest_ind(a,b,alternative='two-sided')
f_p_value = '{:.20f}'.format(p_val)

if p_val <= 0.05:
    print(f'Karena P Value ({f_p_value}) < 0.05, maka Tolak H0\nDengan begini, kita punya cukup bukti untuk menolak H0, sehingga rata-rata reach dari caroulse = image')
else:
    print(f'Karena P Value ({f_p_value}) > 0.05, maka Gagal Tolak H0\nDengan begini, kita tidak punya cukup bukti untuk menolak H0, sehingga rata-rata reach dari caroulse != image')

Karena P Value (0.00000000000000013419) < 0.05, maka Tolak H0
Dengan begini, kita punya cukup bukti untuk menolak H0, sehingga rata-rata reach dari caroulse = image

3. Prove it:

Apakah rata-rata insight - save caraousel, video, image  berbeda?

In [16]:
#CLEANSING and converting column to numerical
# data["Insights - Saves"] = data["Insights - Saves"].str.replace(',', '')
# data["Insights - Saves"] = pd.to_numeric(data["Insights - Saves"])
data.groupby('Content Type')["Insights - Saves"].mean()

Content Type
carousel    24.984127
image       12.089231
video       10.616667
Name: Insights - Saves, dtype: float64

In [20]:
a = data[data['Content Type']=='carousel']['Insights - Saves']
b = data[data['Content Type']=='video']['Insights - Saves']
c = data[data['Content Type']=='image']['Insights - Saves']

stat_val, p_val = f_oneway(a,b,c)

if p_val <= 0.05:
    print(f'Karena P Value ({p_val}) < 0.05, maka Tolak H0\nDengan begini, kita punya cukup bukti untuk menolak H0, sehingga rata-rata reach dari caroulse = image')
else:
    print(f'Karena P Value ({p_val}) > 0.05, maka Gagal Tolak H0\nDengan begini, kita tidak punya cukup bukti untuk menolak H0, sehingga rata-rata reach dari caroulse != image')

Karena P Value (0.0011480281249767444) < 0.05, maka Tolak H0
Dengan begini, kita punya cukup bukti untuk menolak H0, sehingga rata-rata reach dari caroulse = image

In [18]:
?f_oneway

Signature: f_oneway(*samples, axis=0)
Docstring:
Perform one-way ANOVA.

The one-way ANOVA tests the null hypothesis that two or more groups have
the same population mean.  The test is applied to samples from two or
more groups, possibly with differing sizes.

Parameters
----------
sample1, sample2, ... : array_like
    The sample measurements for each group.  There must be at least
    two arguments.  If the arrays are multidimensional, then all the
    dimensions of the array must be the same except for `axis`.
axis : int, optional
    Axis of the input arrays along which the test is applied.
    Default is 0.

Returns
-------
statistic : float
    The computed F statistic of the test.
pvalue : float
    The associated p-value from the F distribution.

Warns
-----
`~scipy.stats.ConstantInputWarning`
    Raised if all values within each of the input arrays are identical.
    In this case the F statistic is either infinite or isn't defined,
    so ``np.inf`` or ``np.nan`` is returned.

`~scipy.stats.DegenerateDataWarning`
    Raised if the length of any input array is 0, or if all the input
    arrays have length 1.  ``np.nan`` is returned for the F statistic
    and the p-value in these cases.

Notes
-----
The ANOVA test has important assumptions that must be satisfied in order
for the associated p-value to be valid.

1. The samples are independent.
2. Each sample is from a normally distributed population.
3. The population standard deviations of the groups are all equal.  This
   property is known as homoscedasticity.

If these assumptions are not true for a given set of data, it may still
be possible to use the Kruskal-Wallis H-test (`scipy.stats.kruskal`) or
the Alexander-Govern test (`scipy.stats.alexandergovern`) although with
some loss of power.

The length of each group must be at least one, and there must be at
least one group with length greater than one.  If these conditions
are not satisfied, a warning is generated and (``np.nan``, ``np.nan``)
is returned.

If all values in each group are identical, and there exist at least two
groups with different values, the function generates a warning and
returns (``np.inf``, 0).

If all values in all groups are the same, function generates a warning
and returns (``np.nan``, ``np.nan``).

The algorithm is from Heiman [2]_, pp.394-7.

References
----------
.. [1] R. Lowry, "Concepts and Applications of Inferential Statistics",
       Chapter 14, 2014, http://vassarstats.net/textbook/

.. [2] G.W. Heiman, "Understanding research methods and statistics: An
       integrated introduction for psychology", Houghton, Mifflin and
       Company, 2001.

.. [3] G.H. McDonald, "Handbook of Biological Statistics", One-way ANOVA.
       http://www.biostathandbook.com/onewayanova.html

Examples
--------
>>> import numpy as np
>>> from scipy.stats import f_oneway

Here are some data [3]_ on a shell measurement (the length of the anterior
adductor muscle scar, standardized by dividing by length) in the mussel
Mytilus trossulus from five locations: Tillamook, Oregon; Newport, Oregon;
Petersburg, Alaska; Magadan, Russia; and Tvarminne, Finland, taken from a
much larger data set used in McDonald et al. (1991).

>>> tillamook = [0.0571, 0.0813, 0.0831, 0.0976, 0.0817, 0.0859, 0.0735,
...              0.0659, 0.0923, 0.0836]
>>> newport = [0.0873, 0.0662, 0.0672, 0.0819, 0.0749, 0.0649, 0.0835,
...            0.0725]
>>> petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
>>> magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764,
...            0.0689]
>>> tvarminne = [0.0703, 0.1026, 0.0956, 0.0973, 0.1039, 0.1045]
>>> f_oneway(tillamook, newport, petersburg, magadan, tvarminne)
F_onewayResult(statistic=7.121019471642447, pvalue=0.0002812242314534544)

`f_oneway` accepts multidimensional input arrays.  When the inputs
are multidimensional and `axis` is not given, the test is performed
along the first axis of the input arrays.  For the following data, the
test is performed three times, once for each column.

>>> a = np.array([[9.87, 9.03, 6.81],
...               [7.18, 8.35, 7.00],
...               [8.39, 7.58, 7.68],
...               [7.45, 6.33, 9.35],
...               [6.41, 7.10, 9.33],
...               [8.00, 8.24, 8.44]])
>>> b = np.array([[6.35, 7.30, 7.16],
...               [6.65, 6.68, 7.63],
...               [5.72, 7.73, 6.72],
...               [7.01, 9.19, 7.41],
...               [7.75, 7.87, 8.30],
...               [6.90, 7.97, 6.97]])
>>> c = np.array([[3.31, 8.77, 1.01],
...               [8.25, 3.24, 3.62],
...               [6.32, 8.81, 5.19],
...               [7.48, 8.83, 8.91],
...               [8.59, 6.01, 6.07],
...               [3.07, 9.72, 7.48]])
>>> F, p = f_oneway(a, b, c)
>>> F
array([1.75676344, 0.03701228, 3.76439349])
>>> p
array([0.20630784, 0.96375203, 0.04733157])
File:      ~/.pyenv/versions/3.9.1/lib/python3.9/site-packages/scipy/stats/_stats_py.py
Type:      function